<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../styles/main.css">
    </head>

    <body>
    <div class="container">
        <div class="col-xs-12">
            <div class="row social social__border">
                <a href="#" class="col-xs-3 social__button social__button--facebook fa fa-2x fa-facebook"></a>
                <a href="#" class="col-xs-3 social__button social__button--twitter fa fa-2x fa-twitter"></a>
                <a href="#" class="col-xs-3 social__button social__button--google-plus fa fa-2x fa-google-plus"></a>
                <a href="#" class="col-xs-3 social__button social__button--line fa-2x icon-line"></a>
            </div>
            <div class="row m-t-3">
                <div class="club">
                    <div class="club__header">
                        <h5>เลสเตอร์ ซิตี้</h5>
                        <h6>จิ้งจอกสยาม</h6>
                    </div>
                    <div class="club__cover">
                        <img src="../../images/club-cover-none.png" class="img-fluid" alt="">
                    </div>
                    <div class="club__info m-t-1">
                        <div class="club__info--row">
                            <span>Club Name:</span>
                            <span>เลสเตอร์ ซิตี้</span>
                        </div>
                        <div class="club__info--row">
                            <span>Stadium:</span>
                            <span>King Power Stadium</span>
                        </div>
                        <div class="club__info--row">
                            <span>League:</span>
                            <span>Premier League</span>
                        </div>
                        <div class="club__info--row">
                            <span>Head Coach:</span>
                        </div>
                        <div class="club__info--logo text-xs-center">
                            <img src="../../images/leicester-city.jpg" alt="">
                        </div>
                    </div>
                    <div class="club__tabs">
                        <!-- Nav tabs -->
                        <ul class="nav club__tabs--header" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#club-players" role="tab">Players</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#club-table" role="tab">Table</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="club-players" role="tabpanel">ทดสอ/บ</div>
                            <div class="tab-pane" id="club-table" role="tabpanel">..2.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <footer class="footer">
            <ul>
                <li><a href="#" class="footer__link">หน้าแรก</a></li>
                <li><a href="#" class="footer__link">ผลบอลวันนี้</a></li>
                <li><a href="#" class="footer__link">ตารางการแข่งขัน</a></li>
                <li><a href="#" class="footer__link">ข่าวฟุตบอล</a></li>
                <li><a href="#" class="footer__link">สกู๊ปทั้งหมด</a></li>
                <li><a href="#" class="footer__link">กฎและข้อตกลง</a></li>
                <li><a href="#" class="footer__link">เกี่ยวกับเรา</a></li>
            </ul>
            <div class="footer-social text-xs-center">
                <a href="#" class="footer-social__icon footer-social__icon--facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="footer-social__icon footer-social__icon--twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="footer-social__icon footer-social__icon--pinterest"><i class="fa fa-pinterest-p"></i></a>
                <a href="#" class="footer-social__icon footer-social__icon--google-plus"><i class="fa fa-google-plus"></i></a>
                <p>Copyright © 2015</p>
            </div>
        </footer>
        <!--script-->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/tether/dist/js/tether.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!--end_script-->
    </body>
</html>
