<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../styles/main.css">
    </head>

    <body>
    <div class="container">
        <div class="col-xs-12">
            <div class="row social social__border">
                <a href="#" class="col-xs-3 social__button social__button--facebook fa fa-2x fa-facebook"></a>
                <a href="#" class="col-xs-3 social__button social__button--twitter fa fa-2x fa-twitter"></a>
                <a href="#" class="col-xs-3 social__button social__button--google-plus fa fa-2x fa-google-plus"></a>
                <a href="#" class="col-xs-3 social__button social__button--line fa-2x icon-line"></a>
            </div>
            <div class="row carousel slide" id="featured" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="featured-content">
                            <div class="featured-content__image">
                                <img src="../../images/featured-demo-img.png" alt="DEMO 1">
                            </div>
                            <div class="featured-content__date">14 มิ.ย. 2559 20:00</div>
                            <div class="featured-content__headline"><a href="#">HEADLINE</a></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="featured-content">
                            <div class="featured-content__image">
                                <img src="../../images/featured-demo-img-2.png" alt="DEMO 1">
                            </div>
                            <div class="featured-content__date">14 มิ.ย. 2559 20:00</div>
                            <div class="featured-content__headline"><a href="#">HEADLINE</a></div>
                        </div>
                    </div>
                </div>
                <div class="featured-content__separator"></div>
            </div>
            <div class="row news m-t-2">
                <div class="news__header"></div>
                <div class="news__content">
                    <div class="col-xs-3 p-x-0">
                        <div class="news__content--image">
                            <img src="../../images/latest-demo-img.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="news__content--date">14 มิ.ย. 2559 20:00</div>
                        <div class="news__content--headline"><a href="#">HEADLINE</a></div>
                    </div>
                </div>
                <div class="news__content">
                    <div class="col-xs-3 p-x-0">
                        <div class="news__content--image">
                            <img src="../../images/latest-demo-img.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="news__content--date">14 มิ.ย. 2559 20:00</div>
                        <div class="news__content--headline"><a href="#">HEADLINE</a></div>
                    </div>
                </div>
                <div class="text-xs-center">
                    <ul class="pagination toro-paginator">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> ย้อนกลับ</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">ถัดไป <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ul>
            <li><a href="#" class="footer__link">หน้าแรก</a></li>
            <li><a href="#" class="footer__link">ผลบอลวันนี้</a></li>
            <li><a href="#" class="footer__link">ตารางการแข่งขัน</a></li>
            <li><a href="#" class="footer__link">ข่าวฟุตบอล</a></li>
            <li><a href="#" class="footer__link">สกู๊ปทั้งหมด</a></li>
            <li><a href="#" class="footer__link">กฎและข้อตกลง</a></li>
            <li><a href="#" class="footer__link">เกี่ยวกับเรา</a></li>
        </ul>
        <div class="footer-social text-xs-center">
            <a href="#" class="footer-social__icon footer-social__icon--facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="footer-social__icon footer-social__icon--twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="footer-social__icon footer-social__icon--pinterest"><i class="fa fa-pinterest-p"></i></a>
            <a href="#" class="footer-social__icon footer-social__icon--google-plus"><i class="fa fa-google-plus"></i></a>
            <p>Copyright © 2015</p>
        </div>
    </footer>
    <!--script-->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/tether/dist/js/tether.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--end_script-->
    </body>
</html>
