$block-separator-color: #f1f1f1;
$category-header-underline: #FFC025;

.category {
    &__header {
        display: table;
        width: 100%;
        padding: 5px 0;
        border-bottom: $category-header-underline 8px solid;
        p, h5 {
            margin: 0;
        }
    }
}
