$base-widget-bg:#EFEFEF;
$dropdown-icon: #FFC025;
$border-bottom:$dropdown-icon;
$base-league-bg: #216CB6;
$base-league-font:white;
$board-league-font:#FA1E64;

.result-board{
    margin-top: 7px;
    background: $base-widget-bg;
    font-size:1em;
    a {
        &:hover {
            text-decoration: none;
        }
    }
    &__button{
        color: $board-league-font;
        text-align:center;
        width: 100%;
        padding: 2px 10px;
        margin : 0;
        font-size: 1.1em;

        a{
            padding-right: 10px;
        }

        &.collapsed:after{
            content : "+";
            float :right;
            font-size: 20px;
            line-height: 20px;
        }

        &:after{
            content : " − ";
            float :right;
            font-size: 20px;
            line-height: 20px;
        }
    }

    &__league-dropdown--icon{
        background:$dropdown-icon;
        color:white;
        font-size: 1.2em;
        padding :7px;
        padding-bottom: 10px;
    }

    &__league-dropdown{
        background: $base-league-bg;
        padding: 6px;

        a{
            color :$base-league-font;
            text-align: left;
        }

        &--list{
            width: 100% ;
            border-radius: 0;
            border: none;
        }
    }

    .result-board__league-result{
        text-align:center;
        margin-top: 16px;
    }
}

.table-description{
    border-bottom: solid $dropdown-icon;
    border-width: 8px;
    text-align: center;
}

.date-time{
    font-size: 13px;
}

.league-table
{
    margin-top: 0px!important;

    &--header{
        font-size: 13px;
        padding:0!important;
        border-bottom: solid rgb(221, 221, 221);
        border-width: 3px;
    }
    thead{
        padding: 0px;
    }
    tbody{
        border-bottom: solid white;
        border-width: 1px;
        tr {
            &:hover {
                background-color: white;
            }
        }
    }

    &__team-names{
        width :70%;
        float: left;
        a{
            color:black;

        }
    }
}
