$vote-text-color: #216CB6;
$vote-button-color: $vote-text-color;
$vote-button-text-active: #FFFFFF;
$vote-button-bg: #FFFFFF;
$vote-footer-bg: #FFFFFF;
$vote-footer-text: #333333;

$predict-border-color: $vote-text-color;
$predict-bg-color: #162A38;
$predict-text-color: #FFFFFF;

$result-text: #FFFFFF;
$result-win: #216CB6;
$result-draw: #F5D620;
$result-lose: #D62C2C;

$predict-btn: #2E7CBC;
$predict-btn-disable: #003454;
$predict-btn-disable-text: #5d5d5d;
$predict-score-bg: #549AF7;

.vote {
    color: $vote-text-color;
    text-align: center;
    font-weight: 700;
    &__table {
        margin: 2rem 0;
    }
    &__group {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                display: inline;
            }
        }
        &--button {
            color: $vote-text-color;
            background-color: $vote-button-text-active;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 80px;
            width: 95px;
            height: 95px;
            border: $vote-button-color 3px solid;
            border-radius: 50%;
            &:hover {
                color: $vote-button-text-active;
                background: $vote-button-color;
            }
            &.active {
                color: $vote-button-text-active;
                background: $vote-button-color;
            }
        }
    }
    &__result {
        font-size: .8rem;
        &--win {
            background-color: $result-win;
        }
        &--draw {
            background-color: $result-draw;
        }
        &--lose {
            background-color: $result-lose;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                width: 15px;
                height: 15px;
                line-height: 15px;
                color: $result-text;
                font-size: .5rem;
                display: inline-block;
                border-radius: 50%;
            }
        }
    }
    &__footer {
        color: $vote-footer-text;
        font-weight: normal;
        text-align: left;
        background: $vote-footer-bg;
    }
    &__send {
        width: 100%;
        padding: 10px;
        margin: 1rem 0;
        border-radius: 0px;
        color: $predict-btn;
        font-weight: 700;
        border: $predict-btn 3px solid;
        background: $vote-button-bg;
        &:hover {
            color: $vote-button-text-active;
            background: $predict-btn;
        }
    }
}

.predict-score {
    width: 100%;
    border-top: $predict-border-color 8px solid;
    background: $predict-bg-color;
    color: $predict-text-color;
    &__selector {
        float: left;
        display: inline-block;
        &--number {
            font-size: 5rem;
            background: $predict-score-bg;
        }
        &--increase {
            background: $predict-btn;
        }
        &--decrease {
            background: $predict-btn;
            &.disabled {
                color: $predict-btn-disable-text;
                background: $predict-btn-disable;
            }
        }
    }
    &__label {
        padding: 105px 0;
        font-size: .8rem;
        float: left;
        display: inline-block;
    }
}
