<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../styles/main.css">
    </head>
    <body>
        <div class="container">
            <div class="col-xs-12">
                <div class="row vote">
                    <table class="vote__table">
                        <tbody>
                            <tr>
                                <td><button class="vote__button" value="home">VOTE</button></td>
                                <td><button class="vote__button" value="draw">VOTE</button></td>
                                <td><button class="vote__button" value="away">VOTE</button></td>
                            </tr>
                            <tr>
                                <td>HOME</td>
                                <td>DRAW</td>
                                <td>AWAY</td>
                            </tr>
                            <tr class="vote__result">
                                <td>
                                    <ul>
                                        <li class="vote__result--win">W</li>
                                        <li class="vote__result--draw">D</li>
                                        <li class="vote__result--lose">L</li>
                                        <li class="vote__result--win">W</li>
                                        <li class="vote__result--win">W</li>
                                    </ul>
                                </td>
                                <td>H2H</td>
                                <td>
                                    <ul>
                                        <li class="vote__result--win">W</li>
                                        <li class="vote__result--draw">D</li>
                                        <li class="vote__result--lose">L</li>
                                        <li class="vote__result--win">W</li>
                                        <li class="vote__result--win">W</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!---------- FOOTER BELOW ---------->
        <footer class="footer">
            <ul>
                <li><a href="#" class="footer__link">หน้าแรก</a></li>
                <li><a href="#" class="footer__link">ผลบอลวันนี้</a></li>
                <li><a href="#" class="footer__link">ตารางการแข่งขัน</a></li>
                <li><a href="#" class="footer__link">ข่าวฟุตบอล</a></li>
                <li><a href="#" class="footer__link">สกู๊ปทั้งหมด</a></li>
                <li><a href="#" class="footer__link">กฎและข้อตกลง</a></li>
                <li><a href="#" class="footer__link">เกี่ยวกับเรา</a></li>
            </ul>
            <div class="footer-social text-xs-center">
                <a href="#" class="footer-social__icon footer-social__icon--facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="footer-social__icon footer-social__icon--twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="footer-social__icon footer-social__icon--pinterest"><i class="fa fa-pinterest-p"></i></a>
                <a href="#" class="footer-social__icon footer-social__icon--google-plus"><i class="fa fa-google-plus"></i></a>
                <p>Copyright © 2015</p>
            </div>
        </footer>
        <!--script-->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/tether/dist/js/tether.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!--end_script-->
    </body>
</html>
