<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../styles/main.css">
    </head>
    <body>
        <div class="container">
            <div class="col-xs-12">
                <div class="row vote">
                    <div class="vote__table">
                        <div class="row vote__group">
                            <ul>
                                <li class="nav-item col-xs-4">
                                    <button class="vote__group--button" value="home" data-toggle="tab" href="#predict-board" role="tab">VOTE</button>
                                </li>
                                <li class="nav-item col-xs-4">
                                    <button class="vote__group--button" value="draw" data-toggle="tab" href="#predict-board" role="tab">VOTE</button>
                                </li>
                                <li class="nav-item col-xs-4">
                                    <button class="vote__group--button" value="away" data-toggle="tab" href="#predict-board" role="tab">VOTE</button>
                                </li>
                            </ul>
                        </div>
                        <div class="row vote__title">
                            <div class="col-xs-4">HOME</div>
                            <div class="col-xs-4">DRAW</div>
                            <div class="col-xs-4">AWAY</div>
                        </div>
                        <div class="row vote__result">
                            <div class="col-xs-4">
                                <ul>
                                    <li class="vote__result--win">W</li>
                                    <li class="vote__result--draw">D</li>
                                    <li class="vote__result--lose">L</li>
                                    <li class="vote__result--win">W</li>
                                    <li class="vote__result--win">W</li>
                                </ul>
                            </div>
                            <div class="col-xs-4">H2H</div>
                            <div class="col-xs-4">
                                <ul>
                                    <li class="vote__result--win">W</li>
                                    <li class="vote__result--draw">D</li>
                                    <li class="vote__result--lose">L</li>
                                    <li class="vote__result--win">W</li>
                                    <li class="vote__result--win">W</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane predict-score" id="predict-board">
                            <div class="row">
                                <div class="col-xs-5 predict-score__selector">
                                    <div class="predict-score__selector--increase" onclick="increaseHome()" id="home-increase"><i class="fa fa-4x fa-angle-up" aria-hidden="true"></i></div>
                                    <div class="predict-score__selector--number" id="home-score"></div>
                                    <div class="predict-score__selector--decrease disabled" onclick="decreaseHome()" id="home-decrease"><i class="fa fa-4x fa-angle-down" aria-hidden="true"></i></div>
                                </div>
                                <div class="col-xs-2 predict-score__label">Prediction Score</div>
                                <div class="col-xs-5 predict-score__selector">
                                    <div class="predict-score__selector--increase" onclick="increaseAway()" id="away-increase"><i class="fa fa-4x fa-angle-up" aria-hidden="true"></i></div>
                                    <div class="predict-score__selector--number" id="away-score"></div>
                                    <div class="predict-score__selector--decrease disabled" onclick="decreaseAway()" id="away-decrease"><i class="fa fa-4x fa-angle-down" aria-hidden="true"></i></div>
                                </div>
                            </div>
                                <!--<div class="predict-score__selector">-->

                                <!--</div>-->
                                <!--<div class="predict-score__label">Prediction Score</div>-->
                                <!--<div class="predict-score__selector">-->
                                    <!--<div><span class="predict-score__selector&#45;&#45;increase"><i class="fa fa-3x fa-angle-up" aria-hidden="true"></i></span></div>-->
                                    <!--<div><span class="predict-score__selector&#45;&#45;number">0</span></div>-->
                                    <!--<div><span class="predict-score__selector&#45;&#45;decrease"><i class="fa fa-3x fa-angle-down" aria-hidden="true"></i></span></div>-->
                                <!--</div>-->
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!---------- FOOTER BELOW ---------->
        <footer class="footer">
            <ul>
                <li><a href="#" class="footer__link">หน้าแรก</a></li>
                <li><a href="#" class="footer__link">ผลบอลวันนี้</a></li>
                <li><a href="#" class="footer__link">ตารางการแข่งขัน</a></li>
                <li><a href="#" class="footer__link">ข่าวฟุตบอล</a></li>
                <li><a href="#" class="footer__link">สกู๊ปทั้งหมด</a></li>
                <li><a href="#" class="footer__link">กฎและข้อตกลง</a></li>
                <li><a href="#" class="footer__link">เกี่ยวกับเรา</a></li>
            </ul>
            <div class="footer-social text-xs-center">
                <a href="#" class="footer-social__icon footer-social__icon--facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="footer-social__icon footer-social__icon--twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="footer-social__icon footer-social__icon--pinterest"><i class="fa fa-pinterest-p"></i></a>
                <a href="#" class="footer-social__icon footer-social__icon--google-plus"><i class="fa fa-google-plus"></i></a>
                <p>Copyright © 2015</p>
            </div>
        </footer>
        <!--script-->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/tether/dist/js/tether.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../../scripts/game.js"></script>
        <!--end_script-->
    </body>
</html>
