$balltoro-gray: #333;
$toggler: $balltoro-gray;
$separator-list: $balltoro-gray;
$collapse: $balltoro-gray;
$collapse-border: black;
$collapse-font: white;
$hover-bg:black;
$balltoro-red: #FA1E64;
$nav-list: $balltoro-red;
$nav-background: #222;

.nav-bar {
    background: #222;
    &__dropdown {
        &--position {
            display: inline;
            padding-left: 0;
        }
    }
    &__logo {
        height: 50px;
    }
    &__toggler {
        font-size: 1.8rem;
        border-radius: 5px;
        background-color: $toggler;
        padding: 3px 7px;
        margin: 7px 10px;
        ]
    }
}

.nav-list {
    &__menu {
        border-top: 1px solid $separator-list;
        color: $nav-list;
        display: block;
        line-height: 45px;
        &:hover, &:focus {
            color: $nav-list;
        }
    }
    &__collapse {
        color: $collapse-font;
        background-color: $collapse;
        display: block;
        border-bottom: 1px solid $collapse-border;
        &:hover, &:focus {
            text-decoration: none;
            background-color: $hover-bg;
        }
        &--icon {
            color: white!important;
            padding-left: 10px!important;
            padding-right: 10px;
        }
    }
}
