// Social Button Color
$facebook-btn-color: #3B5998;
$twitter-btn-color: #55acee;
$google-plus-btn-color: #dd4b39;
$line-btn-color: #00DD00;
$social-icon-color: #FFFFFF;
$border-bottom-color: #FFC025;

.social {
    &__button {
        color: $social-icon-color;
        text-decoration: none !important;
        text-align: center;
        padding: 5px;
        &:hover, &:focus, &:active {
            color: $social-icon-color;
        }
        &--facebook {
            background: $facebook-btn-color;
        }
        &--twitter {
            background: $twitter-btn-color;
        }
        &--google-plus {
            background: $google-plus-btn-color;
        }
        &--line {
            background: $line-btn-color;
        }
    }
    &__border {
        border-bottom: $border-bottom-color 8px solid;
    }
}
