<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../styles/main.css">
    </head>

    <body>
        <div class="container">
            <div class="col-xs-12">
                <div class="row ad-box">ADVERTISE HERE</div>
                <div class="row account m-y-2">
                    <div class="m-b-2">
                        <h3>Register</h3>
                    </div>
                    <form action="">
                        <fieldset class="form-group">
                            <label for="firstname"><strong>ชื่อ</strong></label>
                            <input type="text" class="form-control m-b-1" id="firstname" placeholder="Enter Firstname">
                            <label for="lastname"><strong>นามสกุล</strong></label>
                            <input type="text" class="form-control m-b-1" id="lastname" placeholder="Enter Lastname">
                            <label for="email"><strong>อีเมล</strong></label>
                            <input type="email" class="form-control m-b-1" id="email" placeholder="Enter E-mail">
                            <label for="password"><strong>รหัสผ่าน</strong></label>
                            <input type="password" class="form-control m-b-1" id="password" placeholder="Enter Password">
                            <label for="re-password"><strong>ยินยันรหัสผ่าน</strong></label>
                            <input type="password" class="form-control m-b-1" id="re-password" placeholder="Re Password">
                            <label for="re-password"><strong>Birthday</strong></label>
                            <input type="date" class="form-control m-b-1" id="birthday" placeholder="Birthday">
                            <button type="submit" class="btn btn-primary account__button"><strong>Register</strong></button>
                            <p><a href="#" class="pull-xs-left">Member login</a></p>
                        </fieldset>
                    </form>
                    <div>
                        <p><strong>Or Signup with</strong></p>
                        <a href="#"><i class="fa fa-3x fa-facebook-square account__facebook-btn" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-3x fa-google-plus-square account__google-plus-btn" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="row ad-box">ADVERTISE HERE</div>
                <div class="row ad-box">ADVERTISE HERE</div>
                <div class="row ad-box">ADVERTISE HERE</div>
            </div>
        </div>
        <!-------------- FOOTER BELOW -------------->
        <footer class="footer">
            <ul>
                <li><a href="#" class="footer__link">หน้าแรก</a></li>
                <li><a href="#" class="footer__link">ผลบอลวันนี้</a></li>
                <li><a href="#" class="footer__link">ตารางการแข่งขัน</a></li>
                <li><a href="#" class="footer__link">ข่าวฟุตบอล</a></li>
                <li><a href="#" class="footer__link">สกู๊ปทั้งหมด</a></li>
                <li><a href="#" class="footer__link">กฎและข้อตกลง</a></li>
                <li><a href="#" class="footer__link">เกี่ยวกับเรา</a></li>
            </ul>
            <div class="footer-social text-xs-center">
                <a href="#" class="footer-social__icon footer-social__icon--facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="footer-social__icon footer-social__icon--twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="footer-social__icon footer-social__icon--pinterest"><i class="fa fa-pinterest-p"></i></a>
                <a href="#" class="footer-social__icon footer-social__icon--google-plus"><i class="fa fa-google-plus"></i></a>
                <p>Copyright © 2015</p>
            </div>
        </footer>
        <!--script-->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/tether/dist/js/tether.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!--end_script-->
    </body>
</html>
