$score-table-bottom: #f2f2f2;
$score-color: #0672BC;
$score-result-ft-text: #FFFFFF;
$score-result-ft-bg: #CCCCCC;

.match-list {
    font-size: .8rem;
    &__table {
        display: table;
        padding: 8px;
        width: 100%;
        border-bottom: $score-table-bottom 1px solid;
        font-weight: 700;
        vertical-align: middle;
        span {
            display: inline-table;
            vertical-align: middle;
        }
        &:hover {
            background-color: $score-table-bottom;
        }
    }
    &__logo {
        width: 10%;
        text-align: center;
        img {
            max-width: 100%;
        }
    }
    &__home {
        text-align: right;
        width: 30%;
    }
    &__score {
        text-align: center;
        width: 5%;
        font-size: 1.2rem;
        color: $score-color;
    }
    &__result {
        text-align: center;
        margin: 0 auto;
        width: 10%;
        &--ft {
            background-color: $score-result-ft-bg;
            border-radius: 5px;
            width: 80%;
            color: $score-result-ft-text;
        }
    }
    &__away {
        text-align: left;
        width: 30%;
    }
}
